@charset 'utf-8';
/*  */
#header, #footer {
    width: 100%;
    min-width: 1100px;
}

#content {
    width: 800px;
    margin: 35px auto 0;
    font-weight: lighter;
}
.tag {
    display: inline-block;
    width: 120px;
    box-sizing: border-box;
    padding-right: 10px;
    text-align: right;
    vertical-align: top;
    line-height: 35px;
    font-size: 14px;
}
.input-item {
    border: 1px solid #ccc;
}
.r-box {
    width: calc(100% - 120px);
}



/* 标题 */
.logo > img {
    display: block;
    width: 160px;
    padding: 16px 8px 35px;

}
.title {
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
    background: rgb(45, 148, 186);
    font-weight: normal;
    font-size: 18px;
    padding: 16px 0;
}


/* 内容 */

.myForm {
    color: #333;
}
/* 内容 > 基本信息 */
.info-item {
    width: 50%;
    margin: 35px 0 0;
    font-size: 0;
}
.info-item:nth-child(2n - 1) {
    float: left;
    text-align: left;
}
.info-item:nth-child(2n) {
    float: right;
    text-align: right;
}

.info-item > label:nth-child(2n - 1) {
    text-align: right;
}
.info-item > input {
    width: calc(100% - 120px);
    height: 35px;
    padding-left: 8px;
    font-size: 14px;
    font-weight: lighter;
    box-sizing: border-box;
}

/* 参赛类型 */
.btns {
    display: inline-block;
    border: 1px solid rgb(45, 148, 186);;
    font-size: 0;
}
.select-btn  {
    display: inline-block;
    width: 100px;
    height: 30px;
    color: #777;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all .25s linear;
}
.select-btn :not(:nth-child(2n)) {
    margin-right: 1px;
}
.select-btn:hover {
    color: #fff;
    background: rgb(45, 148, 186);
}
.select-btn.selected {
    color: #fff;
    background: rgb(45, 148, 186);
}

.form-item {
    margin: 35px 0;
    font-size: 0;
}

/* 作品简介 */
.introduction {
    vertical-align: top;
}

textarea {
    height: 200px;
    resize: none;
    box-sizing: border-box;
    padding: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: lighter;
    box-sizing: border-box;
}



/* 组员信息样式 */
.members {
    font-size: 0;
    display: none;
}
.members.show {
    display: block;
}
.members input {
    width: 200px;
    height: 35px;
    padding-left: 8px;
    font-weight: lighter;
    margin-right: 10px;
}

.members .add-btn {
    display: inline-block;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    background: rgb(45, 148, 186);
    color: #fff;
    cursor: pointer;
    transition: all .25s linear;
}

/* 组员列表 */
.member-list {
    width: calc(100% - 120px);
    margin-top: 25px;
    box-sizing: border-box;
    padding-left: 120px;
}
.member-list > .member-item {
    font-size: 0;
}
.member-list > .member-item .name,
.member-list > .member-item .tel {
    width: 100px;
    height: 35px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #ccc;
}
.member-list .member-item > span:not(:last-child) {
    border-right: none;
}
.member-list > .member-item:not(:last-child) section,
.member-list > .member-item:not(:last-child)  span {
    border-bottom: none;
}

.members .btn-box {
    box-sizing: border-box;
    vertical-align: top;
    border: 1px solid #ccc;
    display: inline-block;
    width: 130px;
    height: 35px;;
    position: relative;
}
.members .btn-box > span {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 25px;
    background: rgb(45, 148, 186);
    color: #fff;
    font-size: 13px;
    line-height: 25px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.members .btn-box > span:first-child {
   left: 10px;
}
.members .btn-box > span:last-child  {
    background: rgb(234, 74, 74);
    right: 10px;
}
.members > .validation {
    display: inline-block;
}

/* 提交按钮 */
.submit-btn {
    display: block;
    width: calc(100% - 120px);
    margin: 100px 0 100px 120px;;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    background: rgb(45, 148, 186);
    transition: background .25s linear;
    color: #fff;
    line-height: 40px;
}
.submit-btn:hover {
    background: rgba(45, 148, 186, .9);
}

.submit-btn:disabled {
    background: gray;
}

/* 尾部 */
#footer {
    text-align: center;
    letter-spacing: 2px;
    font-size: 14px;
    color: #fff;
    margin-top: 50px;
    background: rgb(45, 148, 186);
    padding: 20px 0 50px;
}
#footer >p:last-child {
    margin-top: 25px;
}

/* 动画 */
.hover-btn {
    -o-transition: background .25s linear;
    -moz-transition: background .25s linear;
    -webkit-transition: background .25s linear;
    transition: background .25s linear;
}
.hover-btn:hover:not(.delete-btn) {
    background: rgba(45, 148, 186, .85);
}
.hover-btn.delete-btn:hover {
    background: rgba(234, 74, 74, .85) !important;
}

/* 验证消息 */
.validation {
    position: relative;
}
.validation:after {
    display: none;
    content: attr(data-tips);
    font-size: 10px;
    line-height: 30px;
    color: red;
    position: absolute;
    top: 100%;
    left: 120px;
}
.members > .validation:after {
    left: 0;
}
.validation.show:after {
    display: block;
}
