@charset "UTF-8";

#content {
    background: url("../images/about-us/about-us-bg.jpg") no-repeat;
}

#content .container {
    width: 100%;
}

.main-title {
    padding: 16px 0 8px;
    font-size: 26px;
    letter-spacing: 8px;
    text-align: center;
    position: relative;
}
.special-title {
    color: #de0f18;
}
.main-title::before {
    content: "";
    display: inline-block;
    width: 100px; height: 5px;
    background: #de0f18;
    position: absolute;
    top: 0;
    left: 50%;
    /* 左移自身50% */
    transform: translateX(-50%);
}

.sub-title {
    font-size: 16px;
    letter-spacing: 3px;
    color: #929292;
    text-align: center;
    line-height: 20px;
}


/* 关于我们 */
.about-us {
    width: 1100px;
    margin: 0 auto;
}

.about-us .ct-wrapper {
    margin-top: 30px;
}
.about-us img {
    width: 45%;
}
.about-us .infos {
    width: 50%;
    line-height: 40px;
    letter-spacing: 2px;
}

/* 关于多克 */
.about-duke {
    margin: 80px 0 100px;
    padding: 50px 0;
    background: rgba(165, 165, 165, .46);
}

.about-duke .infos {
    margin-top: 50px;
    text-align: center;
}
.about-duke .infos .item {
    width: 330px;
    height: 610px;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    position: relative;
    transition: all .25s linear;
}
.about-duke .infos .item:hover {
    /* 向上位移3px */
    transform: translateY(-5px);
    /* 添加盒子阴影 */
    box-shadow: 3px 3px 25px 2px gray;
}

.about-duke .infos .item:nth-child(2) {
    margin: 0 50px;
} 
.about-duke .infos img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-duke .infos .title {
    line-height: 70px;
    letter-spacing: 3px;
    background: #eee;
    font-size: 18px;
}

.about-duke .infos .des {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    box-sizing: border-box;
    padding: 12px 10px;
    opacity: .75;
}









































