@charset "UTF-8";

header {
    text-align: center;
}
header > .title {
    color: #3f3a39;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: lighter;
}
header > .des {
    display: inline-block;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 8px 18px;
    margin-bottom: 30px;
    margin-top: 16px;
    color: #949191;
    font-size: 18px;
    letter-spacing: 1px;
}


/* 我们的服务 */
.our-service {
    text-align: center;
}
.our-service .sub-title {
    color: #727272;
    font-size: 14px;
    margin: 6px 0 14px;
}

/* 项目合作 */
.cooperation {
    margin-top: 70px;
    border-top: 1px solid #d0d0d0;
}
.cooperation .des {
    color: #777;
}
.cooperation .tag {
    background: #fff;
    padding: 0 50px;
    position: relative;
    top: -20px;
}

.cooperation .icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.cooperation .icon-item {
    margin: 0 45px;
}
.cooperation .icons img {
    width: 80px;
    height: 80px;
}
.cooperation .icons p {
    color: #7c7c7c;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 7px;
}

.cooperation .infos {
    width: 80%;
    margin: 70px auto 0;
    display: flex;
    flex-wrap: wrap;
}
.cooperation .infos .item {
    width: 50%;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid #d4d4d4;
}
.cooperation .infos img {
    height: 100%;
    width: 100%;
}

.cooperation .infos p {
    color: black;
    padding: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    /* 首行缩进2个字符 */
    text-indent: 2rem;
    font-size: 15px;
}












































