@charset "UTF-8";


#content .wrap-list > li { border: 1px solid #d3d3d3; border-bottom: none;}
#content .wrap-list > li:first-child {height: 39px; padding-left: 8px; }
#content .wrap-list > li:last-child { border-bottom: 1px solid #d3d3d3;}
#content .wrap-list > li:not(:first-child) { height: 34px;}
#content .wrap-list .bg {background: #ededed;}
#content .wrap-list > li:first-child span { font-size: 13px; color: #666; line-height: 39px;}
#content .wrap-list > li:first-child a {font-size: 13px; color: #666; line-height: 39px; }
#content .wrap-list > li:first-child .goods-search { height: 100%; position: relative;}
#content .wrap-list > li:first-child .goods-search input { width: 170px; height: 26px; margin-right: 8px; padding: 0 20px 0 8px; color: #bcbcbc; }
#content .wrap-list > li:first-child .goods-search .search-btn { display: inline-block; width: 13px; height: 13px; background: url(../imgs/all_goods/search.png); background-size: cover; cursor: pointer; position: absolute; top: 50%; right: 15px; transform: translateY(-50%); }


#content .filter-keys-list {height: 100%;}
#content .filter-keys-list li { height: 100%; display: inline-block; width: 65px; padding-left: 8px; }
#content .filter-keys-list li:first-child { font: bolder 12px/34px "宋体"; color: #919191;}
#content .filter-keys-list li:not(:first-child) { font: 12px/34px "宋体";}
#content .filter-keys-list li a { color: #666; }
#content .filter-keys-list li a.selected { color: #1365f2;}


#content .goods-list { width: 100%; margin-top: 30px; justify-content: flex-start; }
#content .goods-list li { width: 24.0625%; box-sizing: border-box; padding: 8px; margin-bottom: 1.25%; border: 1px solid #ccc; overflow: hidden; }
#content .goods-list li:not(:nth-child(4n)) { margin-right: 1.25%; }
#content .goods-list li > img { display: block; width: 100%; margin: 0 auto; }
#content .goods-list li > .price { font: bold 14px arial; color: #dd3333; margin: 12px 0 8px; }
#content .goods-list li >  .name { font-size: 13px; color: #494949; margin-bottom: 15px; }






