@charset "UTF-8";


/*
@infos：左侧菜单
--------------------------------------------------------------------------*/
#content .left-menu { width: 18%;}
#content .left-menu-list li { position: relative; width: 100%; height: 45px; box-sizing: border-box; padding-left: 35px; background: #f6f6f6; margin-bottom: 1px; cursor: pointer; font:13px/45px "微软雅黑"; color: #333; }
#content .left-menu-list li:before { content: ""; display: block; width: 12px; height: 12px; background: url("../imgs/mall_dynamic/triangle.png"); background-size: cover; position: absolute; top: 50%; left: 19px; transform: translateY(-50%); }
#content .left-menu-list li:hover { background: #ccc; }
#content .left-menu-list li.selected { background: #ccc; }



/*
@infos：右侧内容
--------------------------------------------------------------------------*/
#content .right-dynamic { width: 73%;}
#content .dynamic-list li { width: 100%; box-sizing: border-box; padding-top: 12px; margin-top: 45px;  display: flex; display: -webkit-flex; justify-content: space-between; align-items: flex-start; }
#content .dynamic-list li:not(:first-child) { border-top: 1px dotted #d3d3d3; }
#content .dynamic-list .fl-img { width: 23%; height: 100px; overflow: hidden; box-shadow: 1px 1px 5px 1px #d3d3d3; }
#content .dynamic-list .fl-img > img { height: 100%; width: 100%; }
#content .dynamic-list .fr-ct { width: 73%; }
#content .dynamic-list .title a { color: #333; font-size: 14px; line-height: 14px; font-weight: normal; }
#content .dynamic-list .title a:hover {text-decoration: underline;}
#content .dynamic-list .date { margin: 15px 0; color: #bababa; font-size: 12px; line-height: 12px; }
#content .dynamic-list .des { color: #999; font-size: 13px; line-height: 22px; }


/*
@infos：动画
--------------------------------------------------------------------------*/
@-webkit-keyframes left-move-animations {
    from { opacity: 0; margin-left: 500px; }
    to   { opacity: 1; margin-left: 0; }
}
@keyframes left-move-animations {
    from { opacity: 0; margin-left: 500px; }
    to   { opacity: 1; margin-left: 0; }
}

#content .dynamic-list li.animation { opacity: 0; animation: left-move-animations .75s .1s  linear forwards paused; }
#content .dynamic-list li.move { animation-play-state: running; }













