@charset "UTF-8";


body { background: #323232; }

#tab {
    width: 516px;
    margin: 100px auto;
}

#tab .tab-menu .tab-menu-item {
    display: inline-block;
    padding: 6px 20px;
    margin-right: 3px;
    background: #767676;
    border-radius: 5px 5px 0 0;
    color: #fff;
}
#tab .tab-menu .active {
    background: #fff;
    color: #666;
}
#tab .tab-content {
    width:  100%;
    height: 316px;
    background: #fff;
    position: relative;
}
#tab .tab-content-item {
    /*display: none;*/
    padding: 8px;
    opacity: 0;
    transition: opacity .5s linear;

    position: absolute;
    top:  0;
    left: 0;
}

#tab .tab-content .active {
    /*display: block;*/
    opacity: 1;
    z-index: 1;
}


































