@charset "utf-8";

* {margin: 0; padding: 0;}

header {
    width: 100%;
    min-width: 1180px;   
    height: 60px;
    background: cornflowerblue; 
    text-align: center;
    transition: all .25s linear;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.menu-list {
    font-size: 0;
}
.menu-list li {
    padding: 0 26px;
    color: #fff;
    font-weight: lighter;
    font-size: 18px;
    line-height: 60px;
    display: inline-block;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .25s linear;
}
.menu-list li:hover {
    background: rgb(40, 110, 240);
}
.menu-list li:not(:last-child) {
    border-right: 1px solid #fff;
}

.submenu-box {
    width: 100%;
    height: 300px;
    background: rgba(0,0,0,.75);
    font-size: 36px;
    line-height: 300px;
    font-weight: bold;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}
.menu-list li:hover .submenu-box {
    display: block;
}


main {
    width: 90%;
    min-width: 1100px;
    height: 2000px;
    margin: 110px auto 0;
    background: pink;
}

.menu-hidden {
    top: -60px;
}