@charset "UTF-8";

* { box-sizing: border-box;}

.container {
    width: 600px;
    margin: 100px auto;
    border: 1px solid #808080;
    border-radius: 10px;
}

.title {
    font-size: 26px;
    line-height: 100px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px #808080;
}

.form span {
    display: inline-block;
    line-height: 35px;
    text-align: right;
}
.form { text-align: center;}

.form input {
    padding: 0 0 0 8px;
    width: 300px;
    height: 35px;
    outline: none;
    border: 1px solid #808080;
    border-radius: 5px;
}
.form input:focus {
    border-color: green;
}

.form select {
    width: 300px;
    height: 35px;
    outline: none;
    border: 1px solid #808080;
    padding-left: 8px;
    /*-webkit-appearance: none;*/
}
.form select:after {
    content: '';
    display: inline-block;
    border: 5px solid transparent;
    border-top-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.form .createBtn {
    width: 100px;
    height: 40px;
    margin: 0 0 15px 275px;
    background: green;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

    color: #fff;
    text-align: center;
    line-height: 40px;
}

.heros-list { width: 80%; margin: 0 auto; text-align: center; border-collapse:collapse; }
.heros-list th, .heros-list td { border: 1px solid #808080; }
.heros-list th { background: rgb(64, 184, 131); }
.heros-list > tbody > tr:nth-child(odd) { background: rgb(237, 237, 237); }
.heros-list .btn { display: inline-block; width: 50px; height: 26px; color: #fff; font-size: 12px; text-align: center; line-height: 26px; border-radius: 3px; cursor: pointer; }
.heros-list .delete { background: red;}
.heros-list .edit { background: orange; }




