@charset "UTF-8";


/*
@infos：头部
--------------------------------------------------------------------------*/
#header .top-bar {height: 45px; background: #1b1b1c;}
#header .top-wrap { height: inherit;justify-content: flex-end;}
#header .go-back { width: 100px; height: 40px; color: #fff; font-size: 12px; }
#header .go-back:hover { background: #1365f2; }


/*
@infos：内容
--------------------------------------------------------------------------*/
#content {min-height: calc(100% - 45px); background: url(../imgs/login_register/bg.png); overflow: hidden; }
#content .container { width: 35%; margin: 80px auto; border: 1px solid #d3d3d3; box-shadow: 0 0 5px 1px #d3d3d3; background: #fff; }

/*
@infos：top-box
--------------------------------------------------------------------------*/
#content .top-box { box-sizing: border-box; padding: 16px; border-bottom: 1px solid #d3d3d3; }
#content .top-box a { display: block;}
#content .top-box .logo { width: 160px; height: auto;cursor: pointer; }
#content .top-box .title { font: bolder 18px "宋体"; margin: 20px 0 8px; }
#content .top-box .welcome {font-size: 13px;}
#content .top-box .welcome span {  letter-spacing: 1px;}

/*
@infos：登陆注册模块公共样式
--------------------------------------------------------------------------*/
#content .login-register-box { width: 80%; margin: 30px auto 50px auto; font-size: 12px; color: #000; }
#content .login-register-box .ipt-box { margin-bottom: 8px; }
#content .login-register-box .ipt-box label { width: 30%; }
#content .login-register-box .ipt-box input { width: 70%; height: 30px; box-sizing: border-box; padding-left: 8px; transition: all .25s ease-in;}
/*#content .login-register-box .ipt-box input.error {border-color: #FF7F50;}*/
#content .login-register-box .ipt-box input::-webkit-input-placeholder { color: #aaa; }

#content .login-register-box input[type="checkbox"] { margin: 10px 8px 0 0; position: relative; }
#content .login-register-box input[type="checkbox"]:before { content: ""; display: inline-block; height: 16px; width: 16px; cursor: pointer; background: #fff url(../imgs/login_register/unchecked-checkbox.png); position: absolute; top: -3px; left: 0px;  }
#content .login-register-box input[type="checkbox"]:checked::before { background: #fff url(../imgs/login_register/checked-checkbox.png); }

#content .login-register-box .btn { display: inline-block; padding: 8px 30px; border-radius: 5px; border: 1px solid #1365f2; background: #1365f2; cursor: pointer; color: #fff; }

#content .login-register-page { display: none; }
#content .login-register-page.show { display: block; }
/*
@infos：登陆
--------------------------------------------------------------------------*/
#content .login .ipt-box input {background: rgb(250, 253, 189); border: 1px solid #ddd; }
#content .login .ipt-box input:focus { border-color: #aaa;}

#content .login .remember-box { margin-left: 30%;}

#content .login .split-line { width: 100%; height: 1px; background: #d3d3d3; margin: 20px auto; }

#content .login .go-register-btn { margin-left: 15px; background: #fff; color: #666; border-color: #ddd; }
#content .login .go-register-btn:hover {background: #1365f2; color: #fff; border-color: #1365f2;}

#content .login .login_icon_qq_btn { margin-top: 15px; justify-content: flex-start;}
#content .login .login_icon_qq_btn span { color: #888; }
#content .login .login_icon_qq_btn a { display: inline-block; width: 24px; height: 24px; background: url(../imgs/login_register/social_icon_24x24.png) -48px -72px; }

#content .login .find-psw { text-align: right; line-height: 30px;}
#content .login .find-psw a {color: #000;}
#content .login .find-psw a:hover { text-decoration: underline;}

/*
@infos：注册
--------------------------------------------------------------------------*/
#content .register .agreement-box { margin: 25px 0; line-height: 50px; border-top: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; }
#content .register .go-login-btn { background: #fff; color: #666; border-color: #ddd; }
#content .register .go-login-btn:hover {background: #1365f2; color: #fff; border-color: #1365f2;}

#content .register .ipt-box input {background: #f5f5f5; border: 1px solid #ddd; }
#content .register .ipt-box input:focus { border-color: #aaa; background: #fff;}








