@charset "UTF-8";


#content .info-list > li { margin-bottom: 50px; border-bottom: 1px dotted #d3d3d3; }
#content .info-list .tips { font-size: 13px; color: #696969; margin: 35px 0 15px; }

#content .question-list p { font-size: 13px; color: #696969; line-height: 2em; }
#content .question-list li { margin: 20px 0 0; }



