@charset 'utf-8';
.home-page {
    background: pink;
}
.home-page .go-details-btn {
    width: 120px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: brown;
    color: #fff;
    display: block;
    margin: 100px auto;
    border-radius: 5px;
}
.home-page .go-details-btn:active {
    background: purple;
}