@charset "UTF-8";


body { font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;}
body::-webkit-scrollbar { display: none;}

/*
@infos：尺寸
--------------------------------------------------------------------------*/
#header, #content, #footer { width: 100%; min-width: 1100px; }
.k-width { width: 94% ; max-width: 1280px; margin: 0 auto; }
.container { box-sizing: border-box; padding: 50px 9%; }
.f12  { font-size: 12px; }
.f14  { font-size: 14px; }


/*
@infos：头部
--------------------------------------------------------------------------*/

/*top-bar*/
#header .top-bar  { width: 100%; height: 45px; background: rgb(224, 224, 224); }
#header .top-list { height: inherit; }
#header .top-list > li { line-height: 45px; font-size: 12px; color: #494949; }
#header .top-list > li.time { margin-right: 40px; }
#header .top-list > li.time img { width: 11px; height: auto; position: relative; top: -1px; }


#header .top-list > li.widget .widget-item { display: inline-block; margin-left: 30px; position: relative;}
#header .top-list > li.widget img { width: 18px; height: auto;  cursor: pointer; }

#header .top-list > li.widget .personal-cen-list { width: 100px; box-sizing: border-box; background: #fff; padding: 8px 4px; position: absolute; top: 100%; left: 0; z-index: 1000; display: none; }
#header .top-list > li.widget .personal-cen-list li { height: 26px; line-height: 24px; }
#header .top-list > li.widget .personal-cen-list li a { color: #494949;}

#header .top-list > li.widget .personal-cen-list li:before { content: ""; display: inline-block; width: 14px; height: 14px; margin-right: 8px; position: relative; top: 2px; }
#header .top-list > li.widget .personal-cen-list li:nth-child(1):before { background: url(../imgs/public/mine-datas.png); background-size: cover; }
#header .top-list > li.widget .personal-cen-list li:nth-child(2):before { background: url(../imgs/public/order.png); background-size: cover; }
#header .top-list > li.widget .personal-cen-list li:nth-child(3):before { background: url(../imgs/public/exit.png); background-size: cover; }


/*mid-bar*/
#header .mid-bar { width: 100%;}
#header .mid-bar .mid-wrap { height: 70px; justify-content: space-between; }
#header .mid-bar .logo { width: 156px;}
#header .mid-bar .search-form input{ box-sizing: border-box; width: 250px; height: 34px; border: 2px solid #1365f2;padding-left: 8px;  color: #bcbcbc; font-family: 微软雅黑; font-size: 14px; }
#header .mid-bar .search-form input::placeholder { color: #bcbcbc; }
#header .mid-bar .search-form a { width: 50px; height: 34px; background: #1365f2; color: #fff; font-size: 12px; }
#header .mid-bar .search-form img { width: 16px; height: auto;}

/*nav*/
#header .nav {background: #000; height: 41px; box-sizing: border-box; padding-top: 5px; }
#header .nav .menu-list li { display: inline-block;}
#header .nav .menu-list a { display: block; width: 112px; height: 36px; text-align: center; line-height: 36px; font-size: 13px; color: #fff; }
#header .nav .menu-list a.active { background: #1365f2;}
#header .nav .menu-list a:hover { background: #1365f2;}



/*
@infos：尾部
--------------------------------------------------------------------------*/
#footer { background: #000;}

#footer .sports-list { height: 115px; background: #393939;}
#footer .sports-list img { width: 74px; height: auto; margin: 0 30px; cursor: pointer;}

#footer .ft-top-list { padding: 55px 0 50px; border-bottom: 1px solid #808080;}
#footer .ft-top-list li { width: 25%; }
#footer .ft-top-list img { float: left; margin-right: 10px; }
#footer .ft-top-list .title { font-size: 16px; color: #bcbcbc; }
#footer .ft-top-list .sub-title { font-size: 13px; color: #898989; }



#footer .ft-mid-list {padding: 50px 0; border-bottom: 1px solid #808080; }
#footer .ft-mid-list li { width: 25%; height: 180px; box-sizing: border-box; padding-right: 100px;}
#footer .ft-mid-list .title { font-size: 16px; color: #d3d3d3; padding-bottom: 20px; }
#footer .ft-mid-list .des { font-size: 12px; color: #808080; line-height: 2em; }
#footer .ft-mid-list .pay { height: 34px; width: auto; }
#footer .ft-mid-list .qr-code { margin: 20px 0 5px 0;}

#footer .ft-bottom-info { text-align: center; padding: 50px 0;}
#footer .ft-bottom-info .shares img { margin: 0 8px; cursor: pointer;}
#footer .ft-bottom-info .copy-right { font-size: 13px; color: #a9a9a9; margin-top: 15px; }



/*
@infos：侧边栏
--------------------------------------------------------------------------*/
.right-nav-bar { position: fixed; right: 0; top: 50%; transform: translateY(-50%);}
.right-nav-bar .bar-list li { width: 54px; height: 54px; background: rgb(25, 25, 25); cursor: pointer;}
.right-nav-bar .bar-list .icon { display: inline-block; width: 30px; height: 30px; background:url(../imgs/public/pic.png); }
.right-nav-bar .bar-list li:last-child { background: rgb(19, 101, 242);}
.right-nav-bar .bar-list li:nth-child(1) .icon { background-position: -40px 0; }
.right-nav-bar .bar-list li:nth-child(2) .icon { background-position: -40px -40px; }
.right-nav-bar .bar-list li:nth-child(3) .icon { background-position: -40px -264px; }


/*
@infos：其他样式
--------------------------------------------------------------------------*/
#content .main-title {
    font: normal normal 24px/1.5em 微软雅黑;
}
#content .sub-title {
    color: #A9A9A9;
    font: normal normal 14px/1.5em  times new roman !important;
    letter-spacing: 1px;
    margin-bottom: 28px;
}
























