@charset "utf-8";

html, body {
    height: 100%;
}

* { 
    /* 去除标签默认间距 */
    padding: 0; margin: 0; 
}

ul {
    /* 去除列表项目标号 */
     list-style: none; 
}

a {
    /* 去除下划线 */
    text-decoration: none;
}