<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>跆拳道</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/normalized.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div id="app">
        <!-- 网页头部 -->
        <header class="head">
            <!-- logo -->
            <img class="logo" src="./images/logo.png">
            <!-- 菜单列表 -->
            <!-- ul:无序列表；li：列表项 -->
            <ul class="menu-list">
                <!-- v-for: 列表渲染 -->
                <li v-for="(title, index) in infos.menuTitles" :key="index">
                    <!-- 渲染数据 -->
                   {{title}} 
                </li>
            </ul>
        </header>
        <!-- 网页内容 -->
        <div class="content">
            <!-- 轮播图 -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="./images/flash-img-01.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/flash-img-02.jpg">
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> 
            </div>
            <!-- 横幅 -->
            <ul class="icon-list">
                <li v-for="(item, index) in infos.banner" :key="index">
                    <!-- 图片 -->
                    <img :src="'./images/' + item.imgName">
                    <!-- 标题 -->
                    <h1 class="title">{{item.title}}</h1>
                    <!-- 子标题 -->
                    <h3 class="sub-title">{{item.subTitle}}</h3>
                </li>
            </ul>
            <!-- 班级设置 -->
            <section class="ct-item class-set">
                <!-- 模块头部 -->
                <header>
                    <h1 class="title">班级设置</h1>
                    <h3 class="sub-title">Class set</h3>
                </header>
                <!-- 模块内容 -->
                <ul class="list">
                    <li v-for="(item, index) in infos.classSet" :key="index">
                        <!-- 图片 -->
                        <div class="img-box">
                            <img :src="'./images/' + item.imgName">
                        </div>
                        <!-- 描述 -->
                        <div class="desc-box">
                            <!-- 班级名称 -->
                            <h1 class="class-name">{{item.title}}</h1>
                            <!-- 班级描述 -->
                            <p class="desc">{{item.subTitle}}</p>
                        </div>
                    </li>
                </ul>
            </section>
            <!-- 动态新闻 -->
            <section class="ct-item news">
                <!-- 模块头部 -->
                <header>
                    <h1 class="title">动态资讯</h1>
                    <h3 class="sub-title">News</h3>
                </header>
                <!-- 切换菜单 -->
                <ul class="tab-menu-list">
                    <li>全部资讯</li>
                    <li>最新动态</li>
                    <li>行业资讯</li>
                </ul>
                <!-- 新闻列表 -->
                <ul class="news-list">
                    <li v-for="(item, index) in infos.news.ctList" :key="index">
                        <!-- 图片 -->
                        <div class="img-box">
                            <img :src="'./images/' + item.imgName">
                        </div>
                        <!-- 详情 -->
                        <div class="info-box">
                            <h3>{{item.title}}</h3>
                            <p class="date">{{item.date}}</p>
                            <p class="desc">{{item.desc}}</p>
                        </div>
                    </li>
                </ul>
            </section>
            <!-- 师资团队 -->
            <section class="ct-item team">
                <header>
                    <h1 class="title">师资团队</h1>
                    <h3 class="sub-title">Team</h3>
                </header>
                <!-- 师资列表 -->
                <ul class="team-list">
                    <li v-for="(item, index) in infos.team" :key="index">
                        <!-- 图片 -->
                        <img :src="'./images/' + item.imgName">
                        <!-- 名字 -->
                        <p class="name">{{item.name}}</p>
                        <!-- 英文名字 -->
                        <p class="en-name">{{item.englishName}}</p>
                        <!-- 描述 -->
                        <p class="desc">{{item.desc}}</p>
                    </li>
                </ul>
            </section>
            <!-- 联系我们 -->
            <section class="ct-item contact">
                <header>
                    <h1 class="title">联系我们</h1>
                    <h3 class="sub-title">Contact</h3>
                </header>
                <div class="info-box">
                    <!-- 左边地址信息 -->
                    <div class="l-box">
                        <h3>跆拳道</h3>
                        <p>地址：{{infos.contact.address}}</p>
                        <p>邮编：{{infos.contact.zipCode}}</p>
                        <p>电话：{{infos.contact.phone}}</p>
                        <p>手机：{{infos.contact.tel}}</p>
                        <p>传真：{{infos.contact.fax}}</p>
                        <p>邮箱：{{infos.contact.email}}</p>
                        <div class="icons">
                            <img v-for="(imgName, index) in infos.contact.icons" :key="index" :src="'./images/' + imgName">
                        </div>
                    </div>
                    <!-- 右边输入控件 -->
                    <form class="r-box clearFix">
                        <!-- 预报班级 -->
                        <div class="ipt-box fl">
                            <p class="tips">预报班级</p>
                            <select class="sel form-item">
                                <option value="特色幼儿班">特色幼儿班</option>
                                <option value="青少年成长班">青少年成长班</option>
                                <option value="成人兴趣班">成人兴趣班</option>
                            </select>
                        </div>
                        <!-- 学员年龄 -->
                        <div class="ipt-box fr">
                            <p class="tips">学员年龄</p>
                            <select class="sel  form-item">
                                <option value="7~9岁">7~9岁</option>
                                <option value="10~12岁">10~12岁</option>
                                <option value="13~15岁">13~15岁</option>
                                <option value="18岁以上">18岁以上</option>
                            </select>
                        </div>
                        <!-- 姓名 -->
                        <input class="fl  form-item" type="text" placeholder="姓名">
                        <!-- 电话 -->
                        <input class="fr  form-item" type="tel" placeholder="电话">
                        <!-- 详情 -->
                        <textarea class="form-item" cols="30" rows="3" placeholder="详情"></textarea>
                        <!-- 发送按钮 -->
                        <button type="button" class="send-btn">发送</button>
                    </form>
                </div>
            </section>
            <!-- 回到顶部按钮 -->
            <div class="goBack-btn" 
                 :style="'display:' + (offset > 200 ? 'inline-block' : 'none')"
                 @click='handleGoBackClick'>返回顶部</div>
        </div>
        <!-- 网页尾部 -->
        <footer class="foot">
            版权所有 ©2017   苏ICP备1230012300号
        </footer>
    </div>

    <!-- 引入脚本文件/插件  -->
    <script src="./json/data.js"></script>
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/swiper.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>