* {
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

.item {
    display: block;
    box-shadow: 2px 2px 2px #999; 
    position: absolute;
}