<!DOCTYPE html>
<!-- zh-CN：简体中文 -->
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>服务项目</title>
    <!-- 引入样式表 -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/service-proj.css">
</head>
<body>
    <!-- 头部 -->
    <header id="header">
        <div class="top-wrap">
            <!-- 左侧logo区域 -->
            <div class="logo-area fl">
                <img class="logo" src="./images/public/logo.png" alt="">
                <h3 class="c-name">四川多克科技有限公司</h3>
            </div>
            <!-- 右侧菜单区域 -->
            <ul class="menu-list fr">
                <li><a href="../index.html">公司首页</a></li>
                <li class="selected"><a href="../pages/service-proj.html">服务项目</a></li>
                <li><a href="../pages/make-process.html">制造流程</a></li>
                <li><a href="../pages/case-display.html">案例展示</a></li>
                <li><a href="../pages/about-us.html">关于我们</a></li>
            </ul>
       </div>
    </header>
    <!-- 横幅 -->
    <div id="banner">
        <!-- 横幅图片 -->
        <img  src="../images/service-proj/service-proj.jpg" alt="">
        <!-- 位置索引 -->
        <div class="location">
            <img src="../images/public/icon-position-home.png" alt="">
            <a href="../index.html">主页</a>
            >
            <a href="../pages/service-proj.html">服务项目</a>
        </div>
    </div>
    <!-- 内容 -->
    <main id="content">
        <div class="container">
            <!-- 构造模块 -->
            <div class="item" v-for="info in infos">
                <header>
                    <h3 class="main-title">{{info.title}}</h3>
                    <h5 class="sub-title">{{info.subTitle}}</h5>
                    <p class="des">{{info.des}}</p>
                </header>
                <!-- 内容模板 -->
                <!-- 网站服务 -->
                <template v-if="info.title == '网站服务'">
                    <div class="web-service-ct">
                        <section class="ct-item"  v-for="item in info.contents">
                            <div class="top" :style="{background:item.bgColor}">
                                <img :src="path + item.iconName" alt="">
                                <p class="title">{{item.title}}</p>
                            </div>
                            <div class="bottom">{{item.des}}</div>
                        </section>
                    </div>
                </template>
                <!-- 搜索服务 -->
                <template v-else-if="info.title == '搜索服务'">
                    <div class="seo-service-ct">
                        <div class="tags">
                            <p>{{info.contents.tag1}}</p>
                            <p>{{info.contents.tag2}}</p>
                        </div>
                        <img :src="path + info.contents.imgName" alt="">
                    </div>
                </template>
                <!-- 后端服务 -->
                <template v-else-if="info.title == '后端服务'">
                    <div class="backend-service-ct">
                        <section class="ct-item" v-for="item in info.contents">
                            <img :src="path + item.iconName" alt="">
                            <p>{{item.title}}</p>
                        </section>
                    </div>
                </template>
                <!-- 更多服务 -->
                <template v-else-if="info.title == '更多服务'">
                    <div class="more-service-ct">
                        <section class="ct-item" v-for="item in info.contents" :style="'background:url(' + path + item.imgName +') no-repeat center center'">
                            <div class="mask"></div>
                            <p class="title">{{item.title}}</p>
                        </section>
                    </div>
                </template>
            </div>  
        </div>
    </main>
    <!-- 尾部 -->
    <footer id="footer">
        <!-- 友情链接 -->
        <div class="links-area">
            <ul class="link-list">
                <li>
                    <h3 class="title">服务范围</h3>
                    <ul class="link-info-list">
                        <li><a href="javascript:;">> IT外包服务</a></li>
                        <li><a href="javascript:;">> IT咨询</a></li>
                        <li><a href="javascript:;">> 网站建设</a></li>
                    </ul>

                </li>
                <li>
                    <h3 class="title">技术支持</h3>
                    <ul class="link-info-list">
                        <li><a href="javascript:;">> Windows 技术支持</a></li>
                        <li><a href="javascript:;">> APP 技术支持</a></li>
                        <li><a href="javascript:;">> Linux 技术支持</a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="title">关于我们</h3>
                    <ul class="link-info-list">
                        <li><a href="javascript:;">> 公司介绍</a></li>
                        <li><a href="javascript:;">> 技术优势</a></li>
                        <li><a href="javascript:;">> 人才招聘</a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="title">更多资讯</h3>
                    <ul class="link-info-list">
                        <li><a href="javascript:;">> 请关注右侧二维码</a></li>
                        <li><a href="javascript:;">> QQ 24小时客服</a></li>
                        <!-- 二维码 -->
                        <img class="qr-code" src="./images/public/qr-code.jpg" alt="">
                    </ul>
                </li>
            </ul>
        </div>
        <!-- 公司信息 -->
        <div class="c-infos">
            四川多克科技有限公司官方网站技术支持及运营提供  Copyright  ©  2016 DuoKe All Rights Reserved
        </div>
    </footer>

    <!-- 引入js脚本/框架 -->
    <script src="../js/datas.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/service-proj.js"></script>
</body>
</html>




