@charset "UTF-8";

* {
    margin: 0; 
    padding: 0;
}


.instructions {
    width: 1000px;
    margin: 100px auto 0;
    padding-top: 20px;
    border-top: 8px lightcoral solid;
    color: lightsalmon;
}
.instructions .des {
    white-space: pre-wrap;
}



