@charset 'utf-8';

*    { margin: 0; padding: 0;}
a    { text-decoration: none; }
ul   { list-style: none; }
img  { vertical-align: middle; }
html, body { height: 100%; }
h1, h3 {
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'iconfont';  /* project id 815979 */
    src: url('//at.alicdn.com/t/font_815979_q9guvuodhqo.eot');
    src: url('//at.alicdn.com/t/font_815979_q9guvuodhqo.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_815979_q9guvuodhqo.woff') format('woff'),
    url('//at.alicdn.com/t/font_815979_q9guvuodhqo.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_815979_q9guvuodhqo.svg#iconfont') format('svg');
  }

.iconfont {
    font: normal 37px 'iconfont';
    color: #fffafa;
} 

/* -头部样式- */
header {
    position: relative;
}

.swiper-slide img {
    width: 100%;
}
.swiper-button-prev {
    left: 100px;
    background: url('/images/prev.png') right center;
}
.swiper-button-next {
    right: 100px;
    background: url('/images/next.png');
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #fff;
}

.banner {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 calc((100% - 1100px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.logo {
    color: #fff;
    letter-spacing: 3px;
    font-size: 37px;
    font-weight: bold;
    cursor: pointer;
    transition: all .45s ease-in-out;
}

.menu-list li {
    display: inline-block;
    margin-left: 20px;
}

.menu-list a {
    transition: all .45s ease-in-out;
    letter-spacing: 1px;
    color: #fff;
    font-size: 18px;
}
.menu-list li:first-child a {
    color: #f9461d;
}

.logo:hover,
.menu-list a:hover {
    color: #f9461d;
}

.jumbotron {
    width: 550px;
    height: 270px;
    border: 7px solid #fff;
    border-radius: 5px;

    text-align: center;
    box-sizing: border-box;
    padding: 40px 60px;

    color: #fff;
    /* 绝对定位
       让元素在定位范围内垂直水平居中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.jumbotron .title {
    font-size: 63px;
    font-weight: bolder;
    letter-spacing: 16px;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.38);
    margin-bottom: 28px;
}

/* 内容样式 */
.content .item {
    box-sizing: border-box;
    padding: 80px calc((100% - 1100px) / 2);
    text-align: center;
}

.item > .title {
    color: #333;
    font-size: 37px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
    position: relative;
}
.item > .title:after {
    content: '';
    display: block;
    width: 120px;
    height: 1px;
    background: #333;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
/* 关于我们 */
.about-us .sub-title {
    color: #666;
    margin:60px 0;
    font-size: 30px;
}
.about-us .des {
    color: #666;
    letter-spacing: 2px;
    line-height: 30px;
}

.icon-list {
    margin: 35px 0;
    display: flex;
    justify-content: center;
}
.icon-list li {
    margin: 0 30px;
}
.icon-list .icon {
    display: block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #f9461d;
    border-radius: 50%;
}

.icon-list .text {
    display: block;
    padding-top: 10px;
    font-size: 12px;
    letter-spacing: 2px;
    color: #000;
}


/* 服务 */
.services {
    background: rgba(249, 70, 29, 0.9); 
}
.services > .title {
    color: #fff;
    margin-bottom: 35px;
}
.service-list {
    display: flex;
    /* 换行显示 */
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-list li {
    width: 30%;
    margin-bottom: 60px;
}

.service-list i {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    background: #fff;
    color: #f9461d;
}
.service-list .title {
    font-size: 19px;
    color: #fff;
    font-weight: bold;
    padding: 19px 0px;
}

.service-list .des {
    letter-spacing: 2px;
    color: #fff;
    font-size: 14px;
}

/* 位置 */
.locations-list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.locations-list li {
    width: 32%;
    margin: 8px 0;
    /* 溢出隐藏 */
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.locations-list img {
    width: 100%;
}
.locations .overlay {
    width: 100%;
    height: 100%;
    color: #fff;
    /* 矩阵变幻属性 */
    transform: translate(300px, -150px) rotateZ(-90deg) ;
    /* 过渡效果 */
    transition: all .4s linear;
    position: absolute;
    left: 0;
    top: 0;
}

.locations-list li:hover .overlay {
    transform: translate(0, 0) rotateZ(0) ;
}

.locations .overlay > h1 {
    height: 40px;
    background: rgba(0, 0, 0, .75);
    font-size: 17px;
    line-height: 40px;
}
.locations .overlay > p {
    height: calc(100% - 40px);
    background: rgba(0, 0, 0, .35);
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 0 8px;
}
/* 团队 */
.team  {
    background: #f9461d;
}
.team > .title {
    color: #fff;
    margin-bottom: 60px;
}
.team .info-list {
    display: flex;
    justify-content: space-between;
}
.team .info-list > li {
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
    width: 24%;
    background: #fff;
    text-align: left;
}
.team .info-list img {
    width: 100%;
}
.team .info-list .name {
    margin: 16px 0;
    font-size: 19px;
    color: rgb(84, 75, 75);
}
.team .info-list .des {
    letter-spacing: 2px;
    color: #686462;
    font-size: 14px;
    line-height: 1.6;
}
.team .icons {
    margin: 16px 0;
    display: flex;
    justify-content: space-around;
}
.team .icons i {
    display: block;
    width: 30px;
    height: 40px;
    cursor: pointer;
    color: #666;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    transition: all .35s linear;
}
.team .icons i:hover {
    border-radius: 50%;
    color: #fff;
    background: purple;
}

/* 联系 */
.contact .title:after {
    /* 隐藏元素 */
    display: none;
}
.contact .sub-title {
    font-size: 12px;
    letter-spacing: 5px;
    color: rgba(146, 144, 166, 0.69);
    padding-top: 12px;
}
.contact .myForm {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.contact .form-box {
    width: 48%;
    height: 200px;
} 
.contact .left {
    display: flex;
    /* 指定布局方向 */
    flex-direction: column;
    justify-content: space-between;
}
.contact input,
.contact textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #727272;
    letter-spacing: 2px;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    padding: 3px 8px;
    resize: none;
    transition: all .25s linear;
}

.contact input {
    height: 30%;
}

.contact input:hover,
.contact textarea:hover {
    border-bottom-color: orangered;
}
/* focus:获取焦点时的样式 */
.contact input:focus,
.contact textarea:focus {
    border-bottom-color: cornflowerblue;
}
.contact .send-btn {
    width: 200px;
    height: 55px;
    margin: 35px auto;
    background: #f9461d;
    color: #fff;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all .25s linear;
}
.contact .send-btn:hover {
    background: #111;
}

/* 尾部样式 */
footer {
    background-color: #070707;
    color: #F7F7F7;
    text-align: center;
    line-height: 120px;
    letter-spacing: 2px;
}
footer a {
    color: cornflowerblue;
}
footer a:hover {
    text-decoration: underline;
}