@charset "UTF-8";

/* 轮播图 */
.flash_wrap {
    position: relative;
}
.flash_wrap img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    opacity: 0;
}
.flash_wrap img.active {
    opacity: 1;
}

.flash_wrap img:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}
.flash_wrap .idot_wrap {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.flash_wrap .idot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 8px;
    background: #fff;
}

.flash_wrap .idot.active {
    background: orange;
}


/* 其他内容 */
.container {
    padding-top: 30px;
}

.content_t {
    /* 弹性布局 */
    display: flex;
    /* 是否换行 */
    flex-wrap: wrap;
    /* 主轴对齐方式 */
    justify-content: space-between;
}

.content_t .item:not(.product) {
    width: 49%;
}
.content_t .item {
    margin-bottom: 2%;
    background: red;
    overflow: hidden;
    position: relative;
}
.content_t .product {
    width: 100%;
}

.content_t .item img {
    width: 100%;
    vertical-align: middle;
    transition: all .5s linear;
}

.content_t .item .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .25s linear;
    background: linear-gradient(to top, #000 -15%, transparent);
    opacity: 0;
}

.content_t .item:hover .mask {
    opacity: 1;
}
.content_t .item:hover img {
    /* 缩放 */
    transform: scale(1.15, 1.15);
}
.content_t .item:hover p {
    display: block;
}


.content_t .des_infos {
    width: 75%;
    color: #fff;
}
.content_t .des_infos h3 {
    font-size: 24px;
    padding-bottom: 14px;
}

.content_t .des_infos p {
    font-size: 14px;
    line-height: 24px;
    display: none;
}

.content_t .item:not(.product) .des_infos {
    position: absolute;
    left: 35px;
    bottom: 50px;
}
.content_t .item.product .des_infos {
    text-align: center;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

#content .syContent {
    width: 100%;
    background: #fafafa;
}

#content .syContent .activity {
    width: 35.8%;
}

#content .syContent .news {
    width: 60%;
}


#content .syContent .title {
    font-size: 24px;
    font-weight: normal;
    color: #333;
    padding-bottom: 30px;
}


#content .syContent .activity_list li {
    padding-bottom: 25px;
}
#content .syContent a {
    color: #333;
}
#content .syContent a:hover {
    color: #004bba;
}
#content .syContent  time {
    display: inline-block;
    color: #6e6e6e;
    font-size: 12px;
    padding-left: 18px;
    line-height: 12px;
    background: url("../images/home/rl.png") left center no-repeat;

}

#content .syContent .news_ct_item {
    width: 49%;
}
#content .syContent .news_ct_item .img_wrapper {
    width: 100%;
    overflow: hidden;
}
#content .syContent .news_ct_item img {
    width: 100%;
    vertical-align: middle;
    transition: all .25s linear;
}
#content .syContent .news_ct_item .img_wrapper:hover img {
    transform: scale(1.2, 1.2);
}

#content .syContent .news_ct_item a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}













