.ct-item .title {
    height: 60px;
    background: rgb(1, 68, 144);
    color: #ffffff;
    display: flex;
    /* 设置主轴方向为Y轴（垂直布局） */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: normal 18px "微软雅黑";
    /* 字符间距 */
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.ct-item .title > span {
    font-size: 11px;
}

.process-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 70px 0;
    font-weight: lighter;
    color: #282828;
}

.process-list li {
    cursor: pointer;
    transition: all .25s linear;
}
/* 添加向上位移动画效果 */
.process-list li:hover {
    transform: translateY(-20px);
}

.process-list img {
    width: 80px;
    margin-bottom: 20px;
}

.infomation-list {
    display: flex;
    /* 允许换行 */
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px 0;
    font-size: 14px;
    color: #989898;
}
.infomation-list li {
    width: 45%;
    padding: 15px 0 12px;
    border-bottom: 1px solid lightgray;
}

.infomation-list .infos span {
    color: #282828;
    font-weight: 440;
    margin-right: 12px;
}
.infomation-list .desc {
    font-size: 12px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.infomation-list .btns span {
    /* 修改鼠标指针样式为手指头 */
    cursor: pointer;
}
.infomation-list .btns span:hover {
    color: #282828;
}







