#content {
    height: calc(100% - 35px);
    margin: 0;
    /* 添加背景图片 */
    background: url("../images/bg.jpg");
    /* 设置背景大小（cover：铺满） */
    background-size: cover;
}
.mask {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
    position: relative;
}

.box {
    width: 300px;
    padding: 25px 25px 35px;
    background: #ffffff;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: gray;
}
.box a {
    color: gray;
}

.tab-menu-list {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.tab-menu-list li {
    padding: 0 12px;
    cursor: pointer;
}
.tab-menu-list li:first-child {
    border-right: 1px solid #000000;
}
.tab-menu-list li.sel {
    color: rgb(5, 47, 104);
}

.tab-ct-list li {
    /* 隐藏元素 */
    display: none;
    height: 1650x;
}
.tab-ct-list li.show {
    display: block;
}
.tab-ct-list .form-item {
    width: 100%;
    height: 32px;
    margin-bottom: 10px;
}
.tab-ct-list .form-item input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    padding: 0 8px;
    outline: none;
}
.tab-ct-list  .login-qrcode img{
    display: block;
    /* 将margin的水平值设置为auto
    可让一个块级元素水平居中 */
    margin: 0 auto;
    width: 120px;
}

.login-btn {
    width: 100%;
    height: 38px;
    background: rgb(5, 47, 104);
    color: #ffffff;
    text-align: center;
    line-height: 38px;
    letter-spacing: 2px;
    font-size: 14px;
    cursor: pointer;
}

.func-box {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    font-size: 11px;
}
.func-box  a:hover {
    color: #000000;
}
.other-login {
    margin-top: 25px;
}
.other-login .title  {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-login .title .line {
    display: inline-block;
    height: 1px;
    width: 80px;
    background: gray;
    margin: 0 8px;
}

.other-login .methods {
    margin-top: 8px;
    text-align: center;
}
.other-login img {
    height: 20px;
    margin: 0 12px;
    cursor: pointer;
}









