@charset "utf-8";

.navigation-bar {
    height: 64px;
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    position: relative;
}

.goback {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.fa-chevron-left:before {
    margin-right: 8px;
    font-size: 14px;
}
